name: Rust

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "17"
      - name: Check Java version
        run: java --version
      - name: Build Java submodule
        working-directory: ./kosher-java
        run: mvn package `-Dmaven.test.skip `-Dmaven.javadoc.skip=true
      - name: Build Rust project
        run: cargo build
      - name: Run tests with default features
        run: cargo test --verbose
      - name: Run tests without default features
        run: cargo test --verbose --no-default-features
  formatting:
    name: cargo fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt
      - name: Rustfmt Check
        uses: actions-rust-lang/rustfmt@v1

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    strategy:
      matrix:
        features:
          - name: "no features"
            flags: "--no-default-features"
          - name: "std only"
            flags: "--no-default-features --features std"
          - name: "defmt only"
            flags: "--no-default-features --features defmt"
          - name: "all features"
            flags: "--all-features"
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy
      - name: Clippy check with ${{ matrix.features.name }}
        run: cargo clippy ${{ matrix.features.flags }} -- -D warnings
